In [5]:
import pandas
users={"id":[1,2,3,],"name":["ali","usman","khalid"]}
print(users)

{'id': [1, 2, 3], 'name': ['ali', 'usman', 'khalid']}

In [6]:
users_df = pandas.DataFrame(users)
print(users_df)

   id    name
0   1     ali
1   2   usman
2   3  khalid

In [7]:
pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (4.9.4)

In [8]:
users={
    'id':[5,7,8,9],
     'name':["vfgh","hgy","gyg","gu"],
      'age':[7,8,56,76,]
}
#converting to xml
users_df.to_xml('output_users.xml',index=False)

In [12]:
#making dictionary
users={
    'id':[5,7,8,9],
     'name':["vfgh","hgy","gyg","gu"],
      'age':[7,8,56,76,]
}
print(users)
uses_df=pandas.DataFrame(users)
print(users_df)
#to save data in csv file
users_df.to_csv('df_1.csv', index=False, sep="/")

{'id': [5, 7, 8, 9], 'name': ['vfgh', 'hgy', 'gyg', 'gu'], 'age': [7, 8, 56, 76]}
   id  name  age
0   5  vfgh    7
1   7   hgy    8
2   8   gyg   56
3   9    gu   76

In [10]:
import pandas

In [11]:
users={
    'id':[5,7,8,9],
     'name':["vfgh","hgy","gyg","gu"],
      'age':[7,8,56,76,]
}
print(users)
users_df=pandas.DataFrame(users)
print(users_df)
#converting to json
users_df.to_json('data.json', index= False)

{'id': [5, 7, 8, 9], 'name': ['vfgh', 'hgy', 'gyg', 'gu'], 'age': [7, 8, 56, 76]}
   id  name  age
0   5  vfgh    7
1   7   hgy    8
2   8   gyg   56
3   9    gu   76