In [1]:
import pandas

In [2]:
a=pandas.read_csv("/content/pandas.csv")
print(a)

   Year   Make                                   Model  \
0  1997   Ford                                    E350
1  1999  Chevy              Venture "Extended Edition"
2  1999  Chevy  Venture "Extended Edition, Very Large"
3  1996   Jeep                          Grand Cherokee

                            Description   Price
0                         ac, abs, moon  3000.0
1                                   NaN  4900.0
2                                   NaN  5000.0
3  MUST SELL!\r\nair, moon roof, loaded  4799.0

In [3]:
b=pandas.read_csv("/content/pandass.csv")
print(b)

       name  age
0  John Doe   30
1  Jane Doe   25

In [4]:
d=pandas.read_csv("/content/abc.csv")
print(d)

   34  67  56
0  36  87  78
1  31  56  88
2  29  67  92
3  54  71  68
4  42  65  82

In [5]:
e=pandas.read_csv("/content/xyz.csv")
print(e)

   ID    LAT     LON  ELEV     SOURCE  FLAGS
0   4 -27.75  152.45  -999       ADAM      0
1   5 -27.03  152.02  -999       MARY      0
2   6 -26.76  148.82  -999       DAVE      1
3   7 -26.58  148.77  -999       RICK      0
4   8 -26.48  148.68  1000     DENNIS      0
5   9 -26.30  148.52   900        TIM      0
6  10 -26.25  148.41  -999  SPONGEBOB      0